<%= render 'common/slider'%>
<div class="row">
  <div class="content">
    <div class="catalog">
      <%if @hit_products != nil%>
        <%@hit_products.each do |product|%>
            <div class="itemCatalog">
              <!---->
              <div class="labelsBlock">
                <div class="label labelTOP" title="Хит продаж">
                  Хит продаж
                </div>
              </div>
              <!---->
              <div class="description">
                <%=image_tag(image_url(product.image))%>
                <p title="<%=product.title%>"><%=truncate(product.title,:length => 20) %></p>

                <p class="price">
                <span class="rub">
                  <%=product.price %>
                  <i class="fa fa-rub"></i>
                </span>

                  <%= form_tag(line_items_url(:id => product.id),:method => "post",:onclick =>"javascript:void(null)")do %>

                      <!--<a class="modal" href="modal.html" onclick="javascript:void(null)">
                        <div class="plus">Добавить +</div>
                      </a>-->
                      <%= link_to product_path(product),:class => 'modal', :remote => true do%>
                          <%=content_tag :div,'Добавить +',:class => 'plus'%>
                      <%end%>


                      <%submit_tag("добавить",:class =>'plus')  %> <!--Убери-->
                  <% end %>

                </p>
              </div>
            </div>
        <%end %>
      <%end %>
    </div>
  </div>
</div>