<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name, 'Имя'%><br>
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :second_name, 'Фамилия'%><br>
    <%= f.text_field :second_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
    <div class="field">
    <%= f.label :comment, 'Комментариии к заказу' %><br>
    <%= f.text_area :comment %>
  </div>
    <h2 class="head">Содержание заказа</h2>
    <table class="table">
      <tbody><tr>
        <th>Наименование</th>
        <th>Цена</th>
      </tr>
      <%@cart.line_items.each do |line_item|%>
          <tr>
            <td><%=line_item.product.title%></td>
            <td><%=line_item.final_price%></td>
          </tr>
      <%end%>
      </tbody></table>
    <p>Сумма заказа: <%=@cart.total_price%></p>
    <div class="actions">
    <%= f.submit 'Создать заказ', :class => "btn btn-green" %>
  </div>
<% end %>
