<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name, 'Имя'%><span style="color: red">*</span><br>
    <%= f.text_field :name, class: 'error' %>
  </div>
    <div class="field">
    <%= f.label :second_name, 'Фамилия'%><span style="color: red">*</span><br>
    <%= f.text_field :second_name, class: 'error' %>
  </div>
  <div class="field">
    <%= f.label :email %><span style="color: red">*</span><br>
    <%= f.text_field :email, class: 'error' %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><span style="color: red">*</span><br>
    <%= f.text_field :phone_number, class: 'error' %>
  </div>
    <div class="field">
    <%= f.label :comment, 'Комментариии к заказу' %><br>
    <%= f.text_area :comment %>
  </div>
    <h2 class="head">Содержание заказа</h2>
    <table class="table">
      <tbody><tr>
        <th>Наименование</th>
        <th>Цена</th>
      </tr>
      <%@cart.line_items.each do |line_item|%>
          <tr>
            <td><%=line_item.product.title%></td>
            <td><%=line_item.final_price%></td>
          </tr>
      <%end%>
      </tbody></table>
    <p>Сумма заказа: <%=@cart.total_price%></p>
    <div class="actions">
    <%= f.submit 'Создать заказ', :class => "btn btn-green" %>
  </div>
<% end %>
<script>
  $(document).ready(function(){

    $('input#order_name, input#order_second_name, input#order_email, input#order_phone_number').unbind().blur( function(){

      var id = $(this).attr('id');
      var val = $(this).val();

      switch(id)
      {
        case 'order_name':
          var rv_name = /^[a-zA-Zа-яА-Я]+$/;

          if(val.length > 2 && val != '' && rv_name.test(val))
          {
            $(this).css('border', '2px solid #66cc00');
            $(this).removeClass('error');
          }

          else
          {
            $(this).css('border', '2px solid red');
            $(this).addClass('error');
          }
          break;

        case 'order_second_name':
          var rv_name = /^[a-zA-Zа-яА-Я]+$/;

          if(val.length > 2 && val != '' && rv_name.test(val))
          {
            $(this).css('border', '2px solid #66cc00');
            $(this).removeClass('error');
          }

          else
          {
            $(this).css('border', '2px solid red');
            $(this).addClass('error');
          }
          break;

        case 'order_email':
          var rv_email = /^([a-zA-Z0-9_.-])+@([a-zA-Z0-9_.-])+\.([a-zA-Z])+([a-zA-Z])+/;
          if(val != '' && rv_email.test(val))
          {
            $(this).css('border', '2px solid #66cc00');
            $(this).removeClass('error');
          }
          else
          {
            $(this).css('border', '2px solid red');
            $(this).addClass('error');
          }
          break;

        case 'order_phone_number':
          var rv_email = /^([0-9-\s]{11,14})+/;
          if(val != '' && rv_email.test(val))
          {
            $(this).css('border', '2px solid #66cc00');
            $(this).removeClass('error');
          }
          else
          {
            $(this).css('border', '2px solid red');
            $(this).addClass('error');
          }
          break;

      };
    });

    $('form#new_order').submit(function(e) {

      if($('.error').length > 0) {
        return false
      }
      else{
        e.submit();
      }
    });
  });

</script>
