<%title "Корзина"%>
<div class="row">
  <div class="content">
    <div class="cart-show">
      <%if @cart.products.empty?%>
          <h1>Здесь пусто...темно...холодно...без твоих денег</h1>
      <%else%>
        <h2 class="head">Корзина</h2>
        <!---->
          <%@cart.products.each do |product|%>
              <div class="cart-item">
                <%=link_to(line_item_path(:id => product.id), html_options = {method: :delete}) do %>
                    <i class="fa fa-times close"></i>
                <%end%>
                <div class="description-cart">
                  <div class="img">
                    <%=image_tag(product.image.url)%>
                  </div>
                  <div class="desc">
                    <p><%= product.title %></p>
                    <p><%= product.description %></p>
                    <p class="price"><span class="rub"><%= product.price %><i class="fa fa-rub"></i></span></p>
                  </div>
                </div>
              </div>
          <%end%>
          <div class="all-price">
            <p>Количество: <%=@cart.products.size %></p>
            <p>Сумма заказа: <%=@cart.total_price%></p>
          </div>
        <!---->

        <div class="btn btn-green"><%= link_to 'Оформить заказ',
                                               new_order_path%></div>
        <!---->
      <%end%>
    </div>
  </div>
</div>