<%title "Корзина"%>
<div class="row">
  <div class="content">
    <div class="cart-show">
      <%if @cart.products.empty?%>
          <p>Корзина пуста</p>
      <%else%>
        <h2 class="head">Корзина</h2>

        <!---->
          <%@cart.line_items.each do |line_item|%>
              <%@product = Product.find(line_item.product_id)%>
              <div class="cart-item">

                <i class="fa fa-times close dlt" id="<%=line_item.product_id%>"></i>

                <div class="description-cart">
                  <div class="img">
                    <%=image_tag(@product.image.url, class:"cart-img")%>
                  </div>
                  <div class="desc">
                    <p><%= @product.title %></p>
                    <%if line_item.color_name != nil%>
                        <p class="color">Цвет: <span class="right"><%=line_item.color_name%> <span class="color-cub" style="background-image: url(<%=Color.find_by_title(line_item.color_name).image.url%>)"></span></span> </p>
                    <%end%>
                    <%if line_item.material_name != nil%>

                        <p class="color">Материал: <span class="right"> <%= line_item.material_name %> +  <span class="material_overpay" > <%= line_item.material_overpay %></span>  </span></p>
                    <%end%>
                    <%if line_item.size != nil%>
                      <p class="color">Размер: <span class="right"> <%= line_item.size %></span></p>
                    <%end%>
                    <p class="price"><span class="item-price"><%= line_item.final_price %></span><span class="rub"><i class="fa fa-rub" style="font-size: 0.8em"></i></span></p>
                  </div>
                </div>
              </div>
          <%end%>
          <div class="all-price">
            <p class="price"><span class="rub">Итого: <span class="total-price"><%=@cart.total_price%></span><i class="fa fa-rub"></i></span></p>
          </div>
        <!---->


      <%=link_to( new_order_path,options = {}, html_options = {}) do%>
              <div class="btn btn-green">Оформить заказ</div>
          <%end%>
        <!---->
      <%end%>
    </div>
  </div>
</div>