<div class="row">
  <div class="content">
    <div class="cart-show">
      <%if @cart.products.empty?%>
          <h1>Здесь пусто...темно...холодно...без твоих денег</h1>
      <%else%>
        <h2 class="head">Корзина</h2>
        <!---->
          <%@cart.products.each do |product|%>
              <div class="cart-item">
                <a href="#"> <i class="fa fa-times close"></i></a>
                <%= link_to 'Destroy',line_item_path(product.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                <div class="description-cart">
                  <div class="img">
                    <%=image_tag(product.image.url)%>
                  </div>
                  <div class="desc">
                    <p><%= product.title %></p>
                    <p><%= product.description %></p>
                    <p class="price"><span class="rub"><%= product.price %><i class="fa fa-rub"></i></span></p>
                  </div>
                </div>
              </div>
          <%end%>
          <div class="all-price">
            <p>Количество: <%=@cart.products.size %></p>
            <p>Сумма заказа: <%=@cart.total_price%></p>
          </div>
        <!---->

        <div class="btn btn-green"><%= link_to 'Добавить',
                                               new_order_path%></div>
        <!---->
      <%end%>
    </div>
  </div>
</div>