<%title "Корзина"%>
<div class="row">
  <div class="content">
    <div class="cart-show">
      <%if @cart.products.empty?%>
          <h1>Здесь пусто...темно...холодно...без твоих денег</h1>
      <%else%>
        <h2 class="head">Корзина</h2>

        <!---->
          <%@cart.line_items.each do |line_item|%>
              <%@product = Product.find(line_item.product_id)%>
              <div class="cart-item">

                <i class="fa fa-times close dlt" id="<%=line_item.product_id%>"></i>

                <div class="description-cart">
                  <div class="img">
                    <%=image_tag(@product.image.url, class:"cart-img")%>
                  </div>
                  <div class="desc">
                    <p><%= @product.title %></p>
                    <%if line_item.color != nil%>
                        <p class="color">Цвет: <span class="right"><%=line_item.color_name%> <span class="color-cub" style="background: <%='#'.concat(line_item.color)%>"></span> </span></p>
                    <%end%>
                    <%if line_item.material_name != nil%>

                        <p class="color">Материал: <span class="right"> <%= line_item.material_name %> +<span class="rub price"><span class="material_overpay"><%= line_item.material_overpay %></span><i class="fa fa-rub"></i></span> </span></p>
                    <%end%>
                    <%if line_item.size != nil%>
                      <p class="color">Размер: <span class="right"> <%= line_item.size %> <span class="rub price"><%= line_item.size_price %><i class="fa fa-rub"></i></span></span></p>
                    <%end%>
                    <p class="price"><span class="rub"><%= line_item.final_price %><i class="fa fa-rub"></i></span></p>
                  </div>
                </div>
              </div>
          <%end%>
          <div class="all-price">
            <p class="price"><span class="rub">Итого: <%=@cart.total_price%><i class="fa fa-rub"></i></span></p>
          </div>
        <!---->


      <%=link_to( new_order_path,options = {}, html_options = {}) do%>
              <div class="btn btn-green">Оформить заказ</div>
          <%end%>
        <!---->
      <%end%>
    </div>
  </div>
</div>