<div class="modalw">
  <div class="img-item">
    <%=image_tag(@product.image.url)%>
  </div>
  <div>
    <h3><%=@product.title %></h3>
    <% if @product.categories.include?(Category.find_by_category_name('Матрасы'))%>
      <div class="descript">
        <%=@product.description.html_safe%>
      </div>
    <%end%>
     <span class="rub price">
       <span class="final_price">
          <%=@product.sizes.minimum(:price) || @product.price %>
       </span>

       <i class="fa fa-rub"></i>
       <span class="final_overpay" style="color: #b2b2b2"></span>
     </span>
    <%= form_tag(line_items_url(:id => @product.id),:method => "post") do %>
      <p>Цвет: <span class="colorname"><%=@product.colors.first.title%></span></p>
      <div class="radio_buttons">
          <% @iterator = 0%>
          <%@product.colors.reverse.each do |color|%>

            <div>
              <%= radio_button_tag(:color, color.id,(color == @product.colors.last)) %>

              <label for="<%='color_'.concat(color.id.to_s)%>" colorname="<%=color.title%>" style="background-image: url(<%=color.image.url%>); padding: 20px" ></label>
            </div>
            <% @iterator = @iterator + 1%>
          <%end%>
      </div>
        <p>Материал:</p>
        <div class="radio_buttons">
          <%@product.materials.order(:overpay).each do |material|%>
              <div>
                <%= radio_button_tag(:material, material.id,(material == @product.materials.first)) %>

                <label overpay="<%=material.overpay%>" for="<%='material_'.concat(material.id.to_s)%>"><%=material.name%></label>
              </div>
          <%end%>
        </div>
        <p>Размер <span class="quest"><i class="fa fa-question-circle" style="font-size: 1.2em"></i></span>: </p>
        <div class="radio_buttons">
          <%@product.sizes.order(:price).each do |size|%>
              <div>
                <%= radio_button_tag(:size, size.size,(size == @product.sizes.first)) %>

                <label price="<%=size.price%>" for="<%='size_'.concat(size.size)%>"><%=size.size%></label>
              </div>
          <%end%>

        </div>
        <%=submit_tag 'Добавить',class: 'plus width-btn add-btn'%>
        <%=submit_tag 'Купить',class: 'plus width-btn one_click_buy'%>

    <%end%>
  </div>
</div>



