<div class="modalw">
  <div class="img-item">
    <%=image_tag(@product.image.url)%>
  </div>
  <div>
    <h3><%=@product.title %></h3>
    <%= form_tag(line_items_url(:id => @product.id),:method => "post") do %>
      <p>Цвет:</p>
      <div class="radio_buttons">
        <%@product.colors.each do |color|%>
            <div>
              <%= radio_button_tag(:color, color.color,true) %>

              <label for="<%='color_'.concat(color.color)%>" style="background: <%='#'.concat(color.color)%>; padding: 20px"></label>
            </div>
        <%end%>
      </div>
        <p>Материал:</p>
        <div class="radio_buttons">
          <%@product.materials.each do |material|%>
              <div>
                <%= radio_button_tag(:material, material.id,true) %>

                <label overpay="" for="<%='material_'.concat(material.id.to_s)%>"><%=material.name%></label>
              </div>
          <%end%>
        </div>
        <p>Размер <span class="quest"><i class="fa fa-question-circle"></i></span>: </p>
        <div class="radio_buttons">
          <%@product.sizes.each do |size|%>
              <div>
                <%= radio_button_tag(:size, size.size,true) %>

                <label price="" for="<%='size_'.concat(size.size)%>"><%=size.size%></label>
              </div>
          <%end%>

        </div>
        <%=submit_tag 'Добавить',class: 'plus width-btn add-btn'%>
        <%=submit_tag 'Купить',class: 'plus width-btn one_click_buy'%>

    <%end%>
  </div>
</div>



