
<div class="catalog">
    <%@products.each do |product|%>
        <div class="itemCatalog">
          <div class="description">
            <%=image_tag(product.image.url)%>
            <p><%=product.title %></p>

            <p class="price">
              <span class="rub">
                <%=product.price %>
                <i class="fa fa-rub"></i>
              </span>

              <%= form_tag(line_items_url(:id => product.id),:method => "post",:onclick =>"javascript:void(null)")do %>
                <div class="radio_buttons">

                    <%product.colors.each do |color|%>
                        <div>
                          <%= radio_button_tag(:color, color.color) %>

                          <label for="<%='color_'.concat(color.color)%>" style="background: <%='#'.concat(color.color)%>"></label>
                        </div>
                    <%end%>
                </div>
                <!--<a class="modal" href="modal.html" onclick="javascript:void(null)">
                  <div class="plus">Добавить +</div>
                </a>-->
                <%= link_to product_path(product),:class => 'modal', :remote => true do%>
                  <%=content_tag :div,'Добавить +',:class => 'plus'%>
                <%end%>


                <%submit_tag("добавить",:class =>'plus')  %> <!--Убери-->
            <% end %>

            </p>
          </div>
        </div>
    <%end %>
</div>

