
<div class="catalog">
    <%@products.each do |product|%>
        <div class="itemCatalog">
          <div class="description">
            <%=image_tag(product.image.url)%>
            <p><%=product.title %></p>

            <p class="price">
              <span class="rub">
                <%=product.price %>
                <%=icon('rub')%>
              </span>

              <%= form_tag(line_items_url(:id => product.id),:method => "post",:onclick =>"javascript:void(null)")do %>
                    <div class="radio_buttons">

                    <%product.colors.each do |color|%>
                        <div>
                          <%= radio_button_tag(:color, color.color) %>
                          <%=label_tag 'color_'.concat(color.color), color.title%>
                        </div>
                    <%end%>
                </div>
                <%= submit_tag("добавить",:class =>'plus')  %>
            <% end %>

            </p>
          </div>
        </div>
    <%end %>
</div>

