
<div class="catalog">
    <%@products.each do |product|%>
        <div class="itemCatalog">
          <div class="description">
            <%=image_tag(product.image.url)%>
            <p><%=product.title %></p>
            <p class="price">
              <span class="rub">
                <%=product.price %>
                <%=icon('rub')%>
              </span>
            <%=link_to(line_items_url(:id => product.id), html_options = {method: :post}) do %>
                <span class="plus">Добавить <i class="fa  fa-plus"></i></span>
            <%end%>
            </p>
          </div>
        </div>
    <%end %>
</div>