
<div class="catalog">
    <%@products.each do |product|%>
        <div class="itemCatalog">
          <%if product.hit%>
              <div class="hits">
                 <span class="hit">ХИТ</span>
              </div>
          <%end%>
          <%if product.sale%>
              <div class="hits" >
                <span class="hit" style="left:-75px">SALE</span>
              </div>
          <%end%>
          <%if product.novelty%>
              <div class="hits">
                <span class="hit">NEW</span>
              </div>
          <%end%>
          <div class="description">
            <%=image_tag(image_url(product.image))%>
            <p title="<%=product.title%>"><%=truncate(product.title,:length => 20) %></p>

            <p class="price">
              <span class="rub">
                <%=product.sizes.minimum(:price) || product.price %>
                <i class="fa fa-rub"></i>
              </span>

              <%= form_tag(line_items_url(:id => product.id),:method => "post",:onclick =>"javascript:void(null)")do %>

                <!--<a class="modal" href="modal.html" onclick="javascript:void(null)">
                  <div class="plus">Добавить +</div>
                </a>-->
                <%= link_to product_path(product),:class => 'modal', :remote => true do%>
                  <%=content_tag :div,'Добавить +',:class => 'plus'%>
                <%end%>


                <%submit_tag("добавить",:class =>'plus')  %> <!--Убери-->
            <% end %>

            </p>
          </div>
        </div>
    <%end %>
</div>

