
<div class="catalog">
    <%@products.each do |product|%>
      <a href="posmotrisuka">
        <div class="itemCatalog">
          <div class="description">
            <%=image_tag(product.image_url)%>
            <p><%=product.title %></p>
            <p class="price">
              <span class="rub">
                <%=product.price %>
                <%=icon('rub')%>
              </span>

              <%= link_to 'Добавить',
                          line_items_path(:id => product.id),method: :post %>
            </p>
          </div>
        </div>
      </a>
    <%end %>
</div>