
<div class="catalog">
  <div style="padding-top: 20px; padding-bottom: 10px;">
    <%if @products.size > 1%>
      Сортировать цены: <a href="<%= products_path(:sort => 'up', :category_id => @category.id)%>" style="color: #66cc00">по возрастанию <i class="fa fa-angle-up" aria-hidden="true"></i></a> / <a href="<%= products_path(:sort => 'down',:category_id => @category.id)%>" style="color: #66cc00">по убыванию <i class="fa fa-angle-down" aria-hidden="true"></i></a></div>
    <%end%>
        <%@products.each do |product|%>
        <div class="itemCatalog">
          <%if product.hit%>
              <div class="hits">
                <div class="hits_empty"></div>
                 <span class="hit" style="left:-58px">HIT</span>
              </div>
          <%end%>
          <%if product.sale%>
              <div class="hits" >
                <div class="hits_empty"></div>
                <span class="hit" style="left:-65px">SALE</span>
              </div>
          <%end%>
          <%if product.novelty%>
              <div class="hits">
                <div class="hits_empty"></div>
                <span class="hit" style="left:-63px">NEW</span>
              </div>
          <%end%>
          <div class="description">
            <%=image_tag(image_url(product.image))%>
            <p title="<%=product.title%>"><%=truncate(product.title,:length => 20) %></p>

            <p class="price">
              <span class="rub">
                <%=product.sizes.minimum(:price) || product.price %>
                <i class="fa fa-rub"></i>
              </span></p>

              <%= form_tag(line_items_url(:id => product.id),:method => "post",:onclick =>"javascript:void(null)")do %>

                <!--<a class="modal" href="modal.html" onclick="javascript:void(null)">
                  <div class="plus">Добавить +</div>
                </a>-->
                <%= link_to product_path(product),:class => 'modal', :remote => true do%>
                  <%=content_tag :div,'Добавить +',:class => 'plus'%>
                <%end%>


                <%submit_tag("добавить",:class =>'plus')  %> <!--Убери-->
            <% end %>

            </p>
          </div>
        </div>
    <%end %>
  <%= will_paginate @products %>
</div>

