
  <div class="row">
    <div class="slider">
      <ul class="slides">
          <li class="slide"><%=image_tag(asset_url('banner3'))%></li>
          <li class="slide"><%=image_tag(image_url('bedroom_collection'))%></li>
          <li class="slide"><%=image_tag(image_url('dizajn-kvartiri'))%></li>
          <li class="slide"><%=image_tag(image_url('gold'))%></li>
          <li class="slide"><%=image_tag(image_url('sl-1'))%></li>
      </ul>
    </div>
  </div>