<div class="row">
  <div class="slider">
    <ul>
      <li class="slider1"><%=image_tag(image_url('116563_1280_800.jpg'))%></li>
      <li class="slider2"><%=image_tag(image_url('355859202.jpg'))%></li>
      <li class="slider3"><%=image_tag(image_url('997801874.jpg'))%></li>
      <li class="slider4"><%=image_tag(image_url('desktopvenue.com_19172_1280x960.jpg'))%></li>
      <li class="slider5"><%=image_tag(image_url('nature-light-lake-1600x900.jpg'))%></li>
    </ul>
    <div class="sliding">
      <span rel="1"></span>
      <span rel="2"></span>
      <span rel="3"></span>
      <span rel="4"></span>
      <span rel="5"></span>
    </div>
  </div>
</div>