<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag %>
  <title><%= (yield :title).presence || 'Svoyadoska' %></title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="header">
      <div class="wrapper_h">
        <div class="logo"><%=image_tag image_url('logo.png')%></div>
        <div class="contacts">
          <span>Связь с нами :</span><br>
          <a href="tel:+7-964-570-85-98">+7-964-570-85-98</a>
        </div>
        <div class="buy">
          <%= render('common/buy') %>
        </div>
        <div class="horizontal_nav">
          <ul>
            <li><a href="<%=main_index_path%>">Главная</a></li>
            <li><a href="<%=category_products_path(Category.new.first_category.id)%>">Каталог</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%=yield%>
  <div class="row">
    <div class="footer">

    </div>
  </div>
</body>
</html>

